PALWORLD_MAX_PLAYERS=8
PALWORLD_GAME_PORT=8211
PALWORLD_QUERY_PORT=27015
PALWORLD_REST_API_PORT=8212
PALWORLD_TZ=America/Sao_Paulo
PALWORLD_SERVER_NAME=Lab Palworld
PALWORLD_SERVER_DESCRIPTION=Homelab Palworld server
PALWORLD_ADMIN_PASSWORD=change-me-admin
PALWORLD_COMMUNITY=false
PALWORLD_ENABLE_PLAYER_LOGGING=true
PALWORLD_ENABLE_PERF_THREADING_ARGS=true
PALWORLD_WORKER_THREADS_SERVER=8
PALWORLD_AUTO_PAUSE_ENABLED=true
PALWORLD_AUTO_UPDATE_ENABLED=true
PALWORLD_AUTO_UPDATE_WARN_MINUTES=30
PALWORLD_AUTO_REBOOT_ENABLED=true
PALWORLD_AUTO_REBOOT_WARN_MINUTES=15
PALWORLD_AUTO_REBOOT_EVEN_IF_PLAYERS_ONLINE=true
PALWORLD_DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/<webhook_id>/<token>
