PALWORLD_MAX_PLAYERS=8
PALWORLD_GAME_PORT=8211
PALWORLD_QUERY_PORT=27015
PALWORLD_REST_API_PORT=8212
PALWORLD_TZ=America/Sao_Paulo
PALWORLD_SERVER_NAME=Lab Palworld
PALWORLD_SERVER_DESCRIPTION=Homelab Palworld server
PALWORLD_ADMIN_PASSWORD=change-me-admin
PALWORLD_DIFFICULTY=Difficult
PALWORLD_EXP_RATE=0.800000
PALWORLD_PAL_CAPTURE_RATE=0.800000
PALWORLD_PAL_SPAWN_NUM_RATE=0.500000
PALWORLD_PLAYER_DAMAGE_RATE_ATTACK=0.500000
PALWORLD_PLAYER_DAMAGE_RATE_DEFENSE=4.000000
PALWORLD_COLLECTION_DROP_RATE=0.500000
PALWORLD_ENEMY_DROP_ITEM_RATE=0.500000
PALWORLD_PAL_EGG_DEFAULT_HATCHING_TIME=0.000000
PALWORLD_COMMUNITY=false
PALWORLD_ENABLE_PLAYER_LOGGING=true
PALWORLD_ENABLE_PERF_THREADING_ARGS=true
PALWORLD_WORKER_THREADS_SERVER=8
PALWORLD_AUTO_PAUSE_ENABLED=true
PALWORLD_AUTO_UPDATE_ENABLED=true
PALWORLD_AUTO_UPDATE_WARN_MINUTES=30
PALWORLD_AUTO_REBOOT_ENABLED=true
PALWORLD_AUTO_REBOOT_WARN_MINUTES=15
PALWORLD_AUTO_REBOOT_EVEN_IF_PLAYERS_ONLINE=true
PALWORLD_BASE_CAMP_MAX_NUM_IN_GUILD=10
PALWORLD_BUILD_OBJECT_DETERIORATION_DAMAGE_RATE=0.5
PALWORLD_DEATH_PENALTY=Item
PALWORLD_PAL_EGG_DEFAULT_HATCHING_TIME=0.5
PALWORLD_COOP_PLAYER_MAX_NUM=12
PALWORLD_ITEM_WEIGHT_RATE=0.5
PALWORLD_SHOW_PLAYER_LIST=True
PALWORLD_DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/<webhook_id>/<token>
